.sidebar_wrapper {
  background: gray;
  width: 300px;
  padding: 80px 20px;
}

.sidebar_menu {
  list-style: none;
  padding: 0;
  margin: 0;

  &_item {
    line-height: 25px;
    margin-bottom: 5px;
    padding: 10px 5px;
    &:hover {
      background-color: rgb(180, 180, 180);
    }
    &:last-child {
      margin-bottom: 0;
    }

    &__link {
      text-decoration: none;
      color: black;
      height: 20px;
    }
  }
}
