.sidebar_wrapper {
  background-color: grey;
  height: 100vh;
  padding: 10px;
}

.sidebar_list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  &__item_link {
    text-decoration: none;
    color: black;
  }

  & li {
    padding: 3px 5px;
    &:hover {
      background-color: white;
    }
  }
}
